<!-- Author: Jeffrey Schachtsick  -->
<!-- CS 290 - Web Development  -->
<!-- Zomato API Interactions -->
<!-- Date: 03/02/2016 -->
<!-- Subject: HTML for the How-To -->


<!DOCTYPE html>
<html>
  <head>
  <title>Section 1: Setup</title>
	<link href="css/howto.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
	<div class="column1"></div>
	<div class="column2"></div>
	<div class="column3">
  <h1> Section 1: Getting Setup to Use Zomato Web API </h1>
  <p>In this section, I will demonstrate how to obtain an API key from Zomato, which is a requirement 
  for using any of the API features for Zomato.</p>
  <p>The first thing to do is to go to the following <b><a href="https://developers.zomato.com/api">link</a></b>, which will 
  take you to the introductory page of Zomato.  This page has a short introduction to choose Zomato as 
  an API.</p> 
  <!-- <img src="images/ZomatoAPIHome.jpg" alt="Zomato API Home page" style="width:599px;height:355px">  -->
  <p>But if you scroll down towards the middle of the page, you can see where you can request an 
  API key.  You will see there are two different kinds API keys, I will be using <b>Basic</b> for this guide to 
  demonstrate usability of this API.  There is a <b>Partner</b> API key available for those who want to deliver 
  to clients such things as pictures and reviews of food from a restaurant and quite possibly make more 
  calls per day to the Zomato server.  With the basic, I get a max of making 1000 calls per day, so I 
  could not imagine how I would want to personally make more than that.  But, if the intent of building 
  something for more than just myself, I would possibly consider contacting Zomato about a Partner access.</p>
  <!-- <img src="images/GenerateKeys.jpg" alt="Generating Keys" style="width:599px;height:355px"> -->
  <p>At the time of writing this How-To, Zomato will let you request an API key, but you need to sign-up 
  to have an account with Zomato.  I found this out the hard way, when I had to click on the <b>Generate Key</b> 
  button on three different occasions.  Here are the steps:</p>
  <p><ol>
	<li>Have an account to Zomato.  This can be done through the Zomato website, or you can be prompted to 
	login or signup through clicking the <b>Generate Key</b> button on this page.
	<p>i. If you already have an account with Zomato, great!  Login with the prompt after clicking the 
	<b>Generate Key</b> button and Skip to step 3.</p>
	<p>ii. If not, no worries.  You can sign up using a Facebook, a Google+ account, or an email address.  
	They will send you a confirmation that you are signed up and need to verify your account with 
	some set up instructions.</p></li>
	<li>Login at the Zomato API page.
	<p>i.  Again, click the <b>Generate Key</b> button and you will receive a prompt that will allow you to 
	login using your email and password that was setup for Zomato.</p></li>
	<li>Get your Basic API key, click one last time on the <b>Generate Key</b> button.
	<p>i.  For getting the API key, you will need to enter your name, phone number, and place of work or Blog URL.</p>
	<p>ii.  Once you hit Submit, you should see your key on the page.</p>
	<p>iii.  Save your key to a safe location, where you can use it in the future.  As an additional note, 
	they will send you an email welcoming you to the Zomato Developer Network along with the API key.</p></li>
  </ol></p>
  <p>This concludes how to get your API key from Zomato.  Clicking the next button, you will be directed to
  the first implementation of the Zomato API.
<div class="next">
		<h3><a href="./HowTo-query">Next >>>></a></h3>
		</div>
</div>
	<div class="column4">
	<a href="./HowTo-home">Home</a>
	<br>
	<br>
	<a href="./HowTo-setup">Section 1: Setup</a>
	<br>
	<br>
	<a href="./HowTo-query">Section 2: Query Intro</a>
	<br>
	<br>
	<a href="./HowTo-pop">Section 3: Popular Restaurants</a>
	<br>
	<br>
	<a href="./HowTo-collect">Section 4: Collections</a>
	</div>
  </body>
</html>