<!-- Author: Jeffrey Schachtsick  -->
<!-- CS 290 - Web Development  -->
<!-- Zomato API Interactions -->
<!-- Date: 02/29/2016 -->
<!-- Subject: HTML to Interact with the Zomato -->
<!-- NOTE: Please have Schachtsick_Zomato.js in same directory -->
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	<form>
		<fieldset>
			<legend>Restaurant by City</legend>
			<label for="Enter City">Enter City</label>
			<input type="text" name="inCity" id="inCity">
			<br>
			<input type="submit" id="citySubmit">
		</fieldset>
		<!-- <fieldset>
			<legend>Weather Data by Zip Code</legend>
			<label for="Enter Zip">Enter a Zip Code </label>
			<input type="text" name="zip" id="zip">
			<input type="submit" id="zipSubmit">
		</fieldset> -->
	</form>
	<div>
		<h2>Restaurant Results</h2>
		<ul>
			{{#each dataList}}
			<li>{{this.name}}: {{this.value}}
			{{/each}}
		</ul>
	</div>
  <script src="Schachtsick_Zomato.js"></script>
  </body>
</html>